html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(35deg, #e985bc, #c9acff, #eeac77);
  box-sizing: border-box;
  display: flex;
}

section > header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 10px;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-image: linear-gradient(35deg, #e985bc, #c9acff, #eeac77);
  display: flex;
  flex-direction: column;
  padding: 35px 25px;
}

#navbar > header {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 35px;
}

.nav-link {
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #6b2be2;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 35px 80px;
  margin-bottom: 110px;
  background-color: #2e2e2e;
  color: #fff;
  line-height: 30px;
}

code {
  background-color: #fff;
  color: #2e2e2e;
  padding: 5px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: rgb(214, 0, 132);
}

footer {
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    position: static;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(35deg, #e985bc, #c9acff, #eeac77);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px 25px;
  }
  #main-doc {
    position: static;
    margin: 0;
    padding: 20px 40px;
    margin-bottom: 0;
    background-color: #2e2e2e;
    color: #fff;
    line-height: 30px;
  }
}
